<div class="footer__container">
  <div class="gb-view-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h3 class="footer__group-title">Danh mục</h3>

          <ul class="footer__menu-container">
            <li class="footer__menu-item">
              <a href="#" title="">Đổi mới giáo dục</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" title="">Du học</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" title="">Nhìn ra thế giới</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" title="">Góc VTV7</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" title="">Câu chuyện giáo dục</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" title="">Góc hỏi đáp</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" title="">Edu_link</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h3 class="footer__group-title">Liên hệ</h3>
          <div class="footer__contact-container">
            <div class="footer__contact-item">
              <span class="footer__contact-text footer__contact-location">Tầng 3, số 75 Phương Mai, Phường Phương Mai, Đống Đa</span>
            </div>
            <div class="footer__contact-item">
              <span class="footer__contact-text footer__contact-phone">18006168</span>
            </div>
            <div class="footer__contact-item">
              <span class="footer__contact-text footer__contact-fax">+65 65320198</span>
            </div>
            <div class="footer__contact-item">
              <span class="footer__contact-text footer__contact-mail">manggiaoduc@agiaoduc.vn</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h3 class="footer__group-title">Đăng ký nhận bản tin</h3>
          <div class="footer__contact-form-container">
            <form action="#" class="footer__form">
              <input type="text" class="footer__input-text" placeholder="Nhập địa chỉ email"/>
              <button type="submit" class="footer__input-submit">Đăng ký</button>
            </form>
          </div>
          <div class="footer__contact-text-information">
            Giấy phép báo điện tử số : 236/GP-BTTT.<br/>
            Tổng Biên tập: <b>Ngô Việt Anh</b><br/>
            Cơ quan chủ quản: Hội xuất bản Việt Nam<br/>
            Tòa soạn: D29 Trần Thái Tông, Cầu Giấy<br/>
            Chỉ được phát hành lại thông tin website khi có sự đồng ý bằng văn bản của báo<br/>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright__container">
      <span class="footer-copyright__text">Copyright &copy; 2016 Manggiaoduc.vn All rights reserved</span>

      <div class="footer-copyright__social-container">
        <a href="#" title="">
          <img src="./img/icon_facebook.png" alt=""/>
        </a>
        <a href="#" title="">
          <img src="./img/icon_google_plus.png" alt=""/>
        </a>
        <a href="#" title="">
          <img src="./img/icon_twitter.png" alt=""/>
        </a>
      </div>
    </div>
  </div>
</div>