<div class="news-group__container__half-medium">
  <div class="home-news-item__container category-page__small-item">
    <div class="col-xs-6">
      <a href="#" title="">
        <img src="{{img}}" alt=""/>
      </a>
    </div>
    <div class="col-xs-6">
      <h4>{{title}}</h4>
      <span>{{date}}</span>
    </div>
  </div>
</div>