<div class="news-group">
  <div class="news-group__header news-group__header__orange-border">
    <h2>
      Tuyển sinh
    </h2>
    <div class="news-group__header__buttons-container">
      {{> _button-all}}
    </div>
  </div>
  <div class="category-page__group-news container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsOne}}
        {{> _category-news-item-small news.halfMediumOne}}
        {{> _category-news-item-small news.halfMediumTwo}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsTwo}}
        {{> _category-news-item-small news.halfMediumThree}}
        {{> _category-news-item-small news.halfMediumFour}}
      </div>


      {{> _category-ads news.adsOne }}

    </div>
  </div>
</div>

<div class="news-group">
  <div class="news-group__header news-group__header__orange-border">
    <h2>
      Tư vấn du học
    </h2>
    <div class="news-group__header__buttons-container">
      {{> _button-all}}
    </div>
  </div>
  <div class="category-page__group-news container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsThree}}
        {{> _category-news-item-small news.halfMediumOne}}
        {{> _category-news-item-small news.halfMediumTwo}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsFour}}
        {{> _category-news-item-small news.halfMediumThree}}
        {{> _category-news-item-small news.halfMediumFour}}
      </div>


      {{> _category-ads news.adsTwo }}

    </div>
  </div>
</div>


<div class="news-group">
  <div class="news-group__header news-group__header__orange-border">
    <h2>
      Chuyện của du học sinh
    </h2>
    <div class="news-group__header__buttons-container">
      {{> _button-all}}
    </div>
  </div>
  <div class="category-page__group-news container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsFive}}
        {{> _category-news-item-small news.halfMediumOne}}
        {{> _category-news-item-small news.halfMediumTwo}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsSix}}
        {{> _category-news-item-small news.halfMediumThree}}
        {{> _category-news-item-small news.halfMediumFour}}
      </div>
    </div>
  </div>
</div>
