<div class="news-group">
  <div class="news-group__header news-group__header__orange-border news-group__header__no-background">
    <h2 class="news-group__header-menu">
      <a href="#" title="">Du học</a>
      <span class="category-page__menu-separate">&nbsp;</span>
      <span>Tuyển sinh</span>
    </h2>
  </div>
  <div class="category-page__group-news container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsOne}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsTwo}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsThree}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsFour}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsFive}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsSix}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsOne}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-big category-level1.bigNewsTwo}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-small news.halfMediumOne}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-small news.halfMediumTwo}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-small news.halfMediumThree}}
      </div>
      <div class="col-xs-12 col-sm-6 category-page__group-news-column">
        {{> _category-news-item-small news.halfMediumFour}}
      </div>
    </div>
    <div class="row">
      <a class="category-page__load-more" href="#" title="">Xem thêm</a>
    </div>
  </div>
</div>
