<div class="category-page__top-new-container top-event__event">
  <h1>
    Du học
  </h1>
  <a href="#" title="">
    <img src="./img/category_top_news_image.png" alt=""/>
    <div class="top-event__event-text">
      <h4>TƯ VẤN DU HỌC</h4>
      <h2>Trường đại học sẽ không được đào tạo trình độ cao đẳng - ‘Hội nghị Diên Hồng’ trước nguy cơ ...</h2>
      <span>Thứ tư, 30/12/2015</span>
    </div>
  </a>
</div>