<div class="main-menu__container">
  <div class="gb-view-container">
    <ul class="main-menu__ul">
      <li class="main-menu__li__level-one">
        <a class="main-menu__a__level-one main-menu__a__border-orange main-menu__active-menu-item" href="#" title="">Trang chủ</a>
      </li>
      <li class="main-menu__li__level-one">
        <a class="main-menu__a__level-one  main-menu__a__border-blue" href="#" title="">Đổi mới giáo dục</a>
      </li>
      <li class="main-menu__li__level-one main-menu__li__container">
        <a class="main-menu__a__level-one main-menu__a__border-green" href="#" title="">Du học</a>
        <ul class="main-menu__ul__child">
          <li class="main-menu__li__level-two">
            <a href="#" title="">Tuyển sinh</a>
          </li>
          <li class="main-menu__li__level-two">
            <a href="#" title="">Tư vấn du học</a>
          </li>
          <li class="main-menu__li__level-two">
            <a href="#" title="">Chuyện của du học sinh</a>
          </li>
        </ul>
      </li>
      <li class="main-menu__li__level-one">
        <a class="main-menu__a__level-one main-menu__a__border-red" href="#" title="">Nhìn ra thế giới</a>
      </li>
      <li class="main-menu__li__level-one">
        <a class="main-menu__a__level-one  main-menu__a__border-blue" href="#" title="">Góc VTV7</a>
      </li>
      <li class="main-menu__li__level-one main-menu__li__container">
        <a class="main-menu__a__level-one main-menu__a__border-blue-footer" href="#" title="">Câu chuyện giáo dục</a>
        <ul class="main-menu__ul__child">
          <li class="main-menu__li__level-two">
            <a href="#" title="">Câu chuyện giáo dục 1</a>
          </li>
          <li class="main-menu__li__level-two">
            <a href="#" title="">Câu chuyện giáo dục 2</a>
          </li>
          <li class="main-menu__li__level-two">
            <a href="#" title="">Câu chuyện giáo dục 3</a>
          </li>
        </ul>
      </li>
      <li class="main-menu__li__level-one">
        <a class="main-menu__a__level-one main-menu__a__border-orange" href="#" title="">Góc hỏi đáp</a>
      </li>
      <li class="main-menu__li__level-one">
        <a class="main-menu__a__level-one main-menu__a__border-green" href="#" title="">Edu_link</a>
      </li>
      <li class="main-menu__li__level-one main-menu__li__search">
        <a href="#" title="" class="main-menu__a__level-one main-menu__a__search">&nbsp;</a>
      </li>
    </ul>
  </div>
</div>