.main-menu{
	&__container{
		position: relative;
		margin: rem(0 0 16px);

		&::after{
			content: '';
			height: 2px;
			position: absolute;
			left: 0px;
			width: 100%;
			bottom: 0px;
			background: #3E454C;
		}
	}

	&__ul{
		margin: 0;
		padding: 0;
		display: block;
		font-size: 0;
		position: relative;
		z-index: 1;
		list-style: none;
	}

	&__li__level-one{
		display: inline-block;
	}

	&__li__search{
		float: right;
	}

	&__li__container{
		position: relative;
		.main-menu__a__level-one{
			background: url('../img/arrow_menu_default.png') no-repeat right 10px center;
			padding-right: rem(26px);

			&:hover{
				background: url('../img/arrow_menu_active.png') no-repeat right 10px center;	
			}

			&.main-menu__active-menu-item{
				background: url('../img/arrow_menu_active.png') no-repeat right 10px center;	
			}
		}

		&:hover{
			.main-menu__ul__child{
				display: inline-block;
			}
		}
	}

	&__a__level-one{
		display: inline-block;
		text-decoration: none;
		font-size: rem(16px);
		line-height: rem(16px);
		color: $blackMenu;
		font-weight: bold;
		padding: rem(17px 12px);
		border-bottom: rem(2px solid $grayDate);

		@include respond-to-min($desktopSize){
			font-size: rem(14px);
			line-height: rem(14px);
		}

		@include respond-to-min($maxView){
			font-size: rem(16px);
			line-height: rem(16px);
		}
	}

	&__a__search{
		border-color: transparent;
		background: url('../img/icon-search-menu.png') no-repeat center center;
		width: rem(30px);
	}

	&__a__border-orange{
		border-color: $orangeBorder;

		&:hover{
			background-color: $orangeBorder !important;
			color: $white;
		}

		&.main-menu__active-menu-item{
			background-color: $orangeBorder !important;
		}
	}

	&__a__border-green{
		border-color: $greenBorder;

		&:hover{
			background-color: $greenBorder !important;
			color: $white;
		}

		&.main-menu__active-menu-item{
			background-color: $greenBorder !important;
		}
	}

	&__a__border-blue{
		border-color: $blueBorder;

		&:hover{
			background-color: $blueBorder !important;
			color: $white;
		}

		&.main-menu__active-menu-item{
			background-color: $blueBorder !important;
		}
	}

	&__a__border-red{
		border-color: $redBorder;

		&:hover{
			background-color: $redBorder !important;
			color: $white;
		}

		&.main-menu__active-menu-item{
			background-color: $redBorder !important;
		}
	}

	&__a__border-blue-footer{
		border-color: $blueFooter;

		&:hover{
			background-color: $blueFooter !important;
			color: $white;
		}

		&.main-menu__active-menu-item{
			background-color: $blueFooter !important;
		}
	}

	&__active-menu-item{
		color: $white;
	}

	&__ul__child{
		width: rem(220px);
		position: absolute;
		top: 100%;
		left: 0px;
		font-size: 0;
		display: none;
		background-color: rgba(101,106,112, 0.8);
		margin: 0;
		padding: rem(0 0 10px);
		border-top: rem(1px solid $white);
		list-style: none;
	}

	&__li__level-two{
		display: inline-block;
		width: 100%;
		padding: rem(0 18px);

		&:last-child{
			a{
				border: none;
			}
		}

		a{
			display: inline-block;
			width: 100%;
			text-decoration: none;
			font-size: rem(14px);
			line-height: rem(16px);
			font-weight: normal;
			color: $white;
			border-bottom: rem(1px solid #91969c);
			padding: rem(10px 0);
		}
	}
}
