<div class="header-container">
	<div class="gb-view-container container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<a class="header-container__logo-link" href="#" title="">
					<img class="header-container__logo-img" src="./img/logo.png" alt=""/>
				</a>
			</div>
			<div class="col-xs-12 col-md-8">
				<a class="header-container__ad-link" href="#" title="">
					<img class="header-container__ad-img" src="./img/top_ad.png" alt=""/>
				</a>
			</div>
		</div>
	</div>
</div>