<div class="home-news-item__container col-xs-12 col-sm-6">
  <div class="col-xs-6">
    <a href="#" title="">
      <img src="{{img}}" alt=""/>
    </a>
  </div>
  <div class="col-xs-6">
    <h4>{{title}}</h4>
    <span>{{date}}</span>
  </div>
</div>