<div class="home-news-item__container home-news-item__container__full">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href="#" title="">
          <img src="{{img}}" alt=""/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#" title="">
          {{title}}
        </a>
        <span>{{date}}</span>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>