<a href="#" title="" class="home-news-item__container home-news-item__item__small col-xs-12 col-sm-6">
  <div class="col-xs-4">
    <img src="{{img}}" alt=""/>
  </div>
  <div class="col-xs-8">
    {{title}}
  </div>
</a>