<div class="news-group">
  <div class="news-group__header news-group__header__orange-border news-group__header__no-background">
    <h2 class="news-group__header-menu">
      <a href="#" title="">Du học</a>
      <span class="category-page__menu-separate">&nbsp;</span>
      <a href="#" title="">Tuyển sinh</a>
      <span class="category-page__menu-separate">&nbsp;</span>
    </h2>
  </div>
  <div class="news-detail__container">
    <div class="news-detail__main-content">
      {{> _news-detail-main-content}}
    </div>
    <div class="news-detail__related-pages">
    </div>
    <div class="news-detail__comment-container">
    </div>
    <div class="news-detail__comment-pagination">
    </div>
  </div>
</div>
