<h3 class="news-detail__related-pages-title">BÀI VIẾT LIÊN QUAN</h3>
<ul class="news-detail__related-pages-list">
  <li class="news-detail__related-pages-list-item">
    <a href="#" title="">Sự hợp tác mới của Đại học Monash và cơ hội cho sinh viên</a>
  </li>
  <li class="news-detail__related-pages-list-item">
    <a href="#" title="">Triển lãm Du học và Hướng nghiệp Cao đẳng - Đại học Úc, Mỹ, Canada</a>
  </li>
  <li class="news-detail__related-pages-list-item">
    <a href="#" title="">Bí quyết xóa tan nỗi ám ảnh mang tên "jetlag"</a>
  </li>
  <li class="news-detail__related-pages-list-item">
    <a href="#" title="">Cơ hội học bổng 50% học phí tại trường Abbey DLD Colleges</a>
  </li>
  <li class="news-detail__related-pages-list-item">
    <a href="#" title="">Hội thảo du học Thụy Sĩ - Đảm bảo thực tạp hưởng lương cao</a>
  </li>
</ul>