<span class="comment-pagination__label">Trang</span>
<a href="#" title="" class="comment-pagination__previous">&nbsp;</a>
<span class="comment-pagination__item comment-pagination__item-label">1</span>
<a href="#" title="" class="comment-pagination__item comment-pagination__item-link">2</a>
<a href="#" title="" class="comment-pagination__item comment-pagination__item-link">3</a>
<a href="#" title="" class="comment-pagination__item comment-pagination__item-link">4</a>
<a href="#" title="" class="comment-pagination__item comment-pagination__item-link">5</a>
<a href="#" title="" class="comment-pagination__next">&nbsp;</a>