---
title: "Home"
---
{{> _header }}
{{> _menu }}
<div class="gb-view-container">
	{{> _home-event-line }}

	{{> _top-event }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8 gb-column gb-column__big">
				{{> _home-news }}
			</div>
			<div class="col-xs-12 col-md-4 gb-column gb-column__small">
				{{> _top-news }}
			</div>
		</div>
	</div>
</div>
{{> _footer_pictures }}
{{> _footer_partners }}
{{> _footer }}