---
title: "Home"
---
{{> _header }}
<div class="gb-view-container">
	{{> _top-event }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8 gb-column gb-column__big">
				{{> _home-news }}
			</div>
			<div class="col-xs-12 col-md-4 gb-column gb-column__small">
			</div>
		</div>
	</div>
</div>