// color
$white: #fff;
$blackBgText: #2a292a;
$blackText: #333333;
$grayDate: #666666;
$blueBorderTop: #10acd3;
$bgHeader : #eff1f5;
$blueFooter: #098D94;
$blackMenu: #212428;

// border
$orangeBorder: #F97400;
$greenBorder: #4DB205;
$redBorder: #DD0202;
$blueBorder: #10ACD3;
$bgGroupNews: #f3f3f3;
$grayBorderTopNew: #d6d6d6;

// button
$orangeButton: #EF6C00;

// screen size
$mobileSize: 480px;
$tabletSize: 768px;
$desktopSize: 992px;
$maxView: 1100px;

// others
$paddingSmall: 12px;
$paddingStandard: 15px;
$paddingNormal: 17px;