// color
$white: #fff;
$blackBgText: #2a292a;
$blackText: #333333;
$grayDate: #666666;
$blueBorderTop: #10acd3;
$bgHeader : #eff1f5;

// screen size
$mobileSize: 480px;
$tabletSize: 768px;
$desktopSize: 992px;
$maxView: 1100px;

// others
$paddingSmall: 13px;
$paddingNormal: 17px;