<div class="client-ask__item">
  <div class="client-ask__question">{{question}}</div>
  <div class="client-ask__author">
    <span class="client-ask__author-label">Được đăng bởi</span>
    <span class="client-ask__author-name">{{author}}</span>
  </div>
  <div class="client-ask__social">
    <span class="client-ask__social-date">{{date}}</span>
    <span class="client-ask__social-seen">{{seen}}</span>
  </div>
</div>