
<div class="top-news__container col-xs-12 col-sm-6 col-md-12">
  <div class="top-news__header-group top-news__header-group__orange">
    <h2>Tin mới</h2>
  </div>
  <div class="top-news__list">
    {{> _top-news-item top-news.newsOne}}
    {{> _top-news-item top-news.newsTwo}}
    {{> _top-news-item top-news.newsThree}}
    {{> _top-news-item top-news.newsFour}}
    {{> _top-news-item top-news.newsFive}}
  </div>
</div>