<div class="top-news__container col-xs-12 col-sm-6 col-md-12">
  <div class="top-news__header-group top-news__header-group__orange">
    <h2>Tin mới</h2>
  </div>
  <div class="top-news__list">
    {{> _top-news-item top-news.newsOne}}
    {{> _top-news-item top-news.newsTwo}}
    {{> _top-news-item top-news.newsThree}}
    {{> _top-news-item top-news.newsFour}}
    {{> _top-news-item top-news.newsFive}}
  </div>
</div>

<div class="top-news__container col-xs-12 col-sm-6 col-md-12">
  <div class="top-news__header-group top-news__header-group__green">
    <h2>Thăm dò ý kiến</h2>
  </div>
  <div class="question__question-title">Bạn thấy website này như thế nào ?</div>
  <div class="question__question-answer-container">
    <form action="">
      <span class="question__question-answer-item">
        <input id="answer1" class="question__question-answer-item__radio-option" type="radio" name="answer" value="1"/>
        <label for="answer1" class="question__question-answer-item__radio-label">Thật tuyệt vời</label>
      </span>

      <span class="question__question-answer-item">
        <input id="answer2" class="question__question-answer-item__radio-option" type="radio" name="answer" value="2"/>
        <label for="answer2" class="question__question-answer-item__radio-label">Tốt</label>
      </span>

      <span class="question__question-answer-item">
        <input id="answer3" class="question__question-answer-item__radio-option" type="radio" name="answer" value="3"/>
        <label for="answer3" class="question__question-answer-item__radio-label">Khá</label>
      </span>

      <span class="question__question-answer-item">
        <input id="answer4" class="question__question-answer-item__radio-option" type="radio" name="answer" value="4"/>
        <label for="answer4" class="question__question-answer-item__radio-label">Trung bình</label>
      </span>
      <div class="question__submit-container">
        <button type="submit" class="question__submit-button">Bình chọn</button>
        <a href="#" title="" class="question__submit-link">Xem kết quả</a>
      </div>
    </form>
  </div>
</div>

<div class="top-news__container col-xs-12 col-sm-6 col-md-12">
  <div class="top-news__header-group top-news__header-group__blue">
    <h2>Góc hỏi đáp</h2>
  </div>
  <div class="client-ask__list">
    {{> _question-answer-item top-news.qaOne }}
    {{> _question-answer-item top-news.qaOne }}
    {{> _question-answer-item top-news.qaOne }}
  </div>
</div>

<div class="side-ads__container col-xs-12 col-sm-6 col-md-12">
  <a href="#" title="">
    <img src="./img/side_ads1.png" alt=""/>
  </a>
</div>

<div class="side-ads__container col-xs-12 col-sm-6 col-md-12">
  <a href="#" title="">
    <img src="./img/side_ads2.png" alt=""/>
  </a>
</div>