<div class="footer-partner__container">
  <div class="gb-view-container">
    <div class="container-fluid">
      <div class="row">
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo1.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo2.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo3.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo4.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo5.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo6.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo7.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo8.png"/>
        </a>
        <a class="footer-partner__item" href="#" title="">
          <img alt="" src="./img/partner-logo9.png"/>
        </a>
      </div>
    </div>
  </div>
</div>