// Partials
// -------------------------
@import "header/_header";
@import "menu/_menu";
@import "home-top-event/_home-event-line";
@import "home-top-event/_top-event";
@import "home-news/_home-news";
@import "home-news/_home-ads";
@import "inputs/_inputs";
@import "top-news/_top-news";
@import "footer-pictures/_footer_pictures";
@import "footer-partners/_footer_partners";
@import "footer/_footer";

@import "category/_category";
@import "news-detail/_news-detail";