<div class="footer-pictures__container">
  <div class="gb-view-container">
    <h2 class="footer-pictures__title">Hình ảnh Video đặc sắc</h2>
    <div class="container-fluid">
      <div class="row">
        {{> _footer_pictures_item footer-pictures.picture1}}
        {{> _footer_pictures_item footer-pictures.picture2}}
        {{> _footer_pictures_item footer-pictures.picture3}}
        {{> _footer_pictures_item footer-pictures.picture4}}
        {{> _footer_pictures_item footer-pictures.picture5}}
      </div>
    </div>
  </div>
</div>