<div class="col-sm-4 col-md-15 footer-pictures__item">
	<a href="#" title="">
		<span class="footer-pictures__icon {{#if isImage}}footer-pictures__icon-picture{{else}}footer-pictures__icon-video{{/if}}">&nbsp;</span>
		<img src="{{img}}" alt=""/>
		<span class="footer-pictures__text-container">
			<span class="footer-pictures__text">{{text}}</span>
		</span>
	</a>
</div>