<div class="home-news-line">
  <a href="#" title="" class="home-news-line__header">Dòng sự kiện</a>
  <div class="home-news-line__text">
    Trường đại học sẽ không được đào tạo trình độ cao đẳng - ‘Hội nghị Diên Hồng’ trước nguy cơ môn Lịch sử bị xoá sổ
  </div>
</div>