<div class="container-fluid">
  <div class="row top-event__container">
    
    <div class="top-event__navigation-container__tablet">
      <a href="#" title="" class="top-event__navigation-pre">&nbsp;</a>
      <a href="#" title="" class="top-event__navigation-next">&nbsp;</a>
    </div>
    
    <div class="top-event__event-list">
      <div class="col-xs-12 col-md-6 top-event__event-column">
        <div class="top-event__event top-event__event-full">
          {{> _top-event-item top-event.full }}
        </div>
      </div>
      <div class="col-xs-12 col-md-6 top-event__event-column">
        <div class="top-event__event top-event__event-half-vertical">
          {{> _top-event-item top-event.halfVertical }}
        </div>
        <div>
          <div class="col-xs-12 col-sm-6 top-event__event-column">
            <div class="top-event__event top-event__event-half-vertical-horizontal">
              {{> _top-event-item top-event.halfVerticalHorizontalOne }}
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 top-event__event-column">
            <div class="top-event__event top-event__event-half-vertical-horizontal">
              {{> _top-event-item top-event.halfVerticalHorizontalTwo }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
